<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
</head>

<body>
    <div class="main w-full min-h-screen bg-zinc-900">
        <div class="form p-10 text-white">
            <form action="/edit/<%= filename %>" method="post">
                <input class="block px-5 py-2 rounded-md outline-none bg-zinc-800" type="text"
                    placeholder="New filename..." name="newFilename" value="<%= filename %>">
                <textarea class="block mt-2 w-full rounded-md outline-none px-5 py-2 resize-none bg-zinc-800" name="details"
                    id="" placeholder="Write your task details here..."><%= filedata %></textarea>
                <input class="mt-2 bg-blue-600 px-5 py-2 rounded-md" type="submit" value="Update Task">
                <a href="/" class="mt-2 bg-gray-600 px-5 py-2 rounded-md inline-block text-center text-white">Back</a>
            </form>
        </div>
    </div>
</body>
<script src="https://cdn.tailwindcss.com"></script>

</html>